/* WEBSITES */

h1 {
    margin-top: 80px;
    text-align: center;
}

.web-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 0 20px 20px 20px;
}

.left-content {
    flex: 2; /* Increased width */
    padding: 20px;
}

.right-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.websites-image {
    max-width: 100%;
    height: auto;
}

.bottom-content {
    width: 100%;
    padding: 20px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2, p {
    text-align: left;
}








